<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/resource/favicon.ico">
    <title>Đổi mật khẩu</title>
    <link href="/resource/css2.css" rel="stylesheet">
    <link rel="stylesheet" href="/resource/bootstrap.min.css">
    <link rel="stylesheet" href="/resource/common.css">
    <link rel="stylesheet" href="/resource/header.css">
    <link rel="stylesheet" href="/resource/auth-form.css">
    <link rel="stylesheet" href="/resource/change-password.css">
    <link rel="stylesheet" href="/resource/bootstrap-icons.css">
</head>

<body>
    <!-- header -->
    {{> headers/page_header}}

    <!-- content -->
    <div class="mt-5 mb-2 mx-auto">
        <div class="form-box" style="max-width: 420px">
            <div class="form-key">
                <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="green" class="bi bi-key-fill"
                    viewBox="0 0 16 16">
                    <path
                        d="M3.5 11.5a3.5 3.5 0 1 1 3.163-5H14L15.5 8 14 9.5l-1-1-1 1-1-1-1 1-1-1-1 1H6.663a3.5 3.5 0 0 1-3.163 2M2.5 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2" />
                </svg>
            </div>
            <div class="form-title">THAY ĐỔI MẬT KHẨU</div>
            <div class="form-form">
                <form id="pwdForm" action="/change-password" method="POST">
                    <div class="form-group"><label class="form-control-label" for="oldPassword">MẬT KHẨU HIỆN
                            TẠI</label>
                        <div class="position-relative mb-5"><input class="form-control" type="password" id="oldPassword"
                                name="oldPassword" maxlength="50">
                            <svg class="view-password-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                fill="currentColor" class="bi bi-eye-slash-fill" viewBox="0 0 16 16">
                                <path
                                    d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7 7 0 0 0 2.79-.588M5.21 3.088A7 7 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474z" />
                                <path
                                    d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12z" />
                            </svg>
                        </div>
                    </div>
                    <div class="form-group"><label class="form-control-label" for="newPassword">MẬT KHẨU MỚI</label>
                        <div class="position-relative mb-5"><input class="form-control" type="password" id="newPassword"
                                name="newPassword" maxlength="50">
                            <svg class="view-password-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                fill="currentColor" class="bi bi-eye-slash-fill" viewBox="0 0 16 16">
                                <path
                                    d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7 7 0 0 0 2.79-.588M5.21 3.088A7 7 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474z" />
                                <path
                                    d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12z" />
                            </svg>
                        </div>
                    </div>
                    <div class="form-group"><label class="form-control-label" for="confirmPw">NHẬP LẠI MẬT KHẨU
                            MỚI</label>
                        <div class="position-relative mb-5"><input class="form-control" type="password" id="confirmPw"
                                name="confirmPw" maxlength="50">
                            <svg class="view-password-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                fill="currentColor" class="bi bi-eye-slash-fill" viewBox="0 0 16 16">
                                <path
                                    d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7 7 0 0 0 2.79-.588M5.21 3.088A7 7 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474z" />
                                <path
                                    d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12z" />
                            </svg>
                        </div>
                    </div>
                    <div class="p-0 mb-4 d-flex justify-content-between align-items-center">
                        <div class="form-text text-danger" id="formMsg"></div>
                        <div class="form-button"><button id="submitBtn" class="btn btn-outline-primary" type="submit">Cập Nhật</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!-- footer -->
    {{> footers/page_footer}}
    <script src="/resource/change-password.js"> </script>
</body>

</html>