<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <style>
    #dg-chat-iframe {
      position: absolute;
      opacity: 0;
      width: 1px;
      height: 1px;
      top: 0;
      left: 0;
      border: none;
      display: block;
      z-index: -1;
      pointer-events: none;
    }

    #dg-chat-container {
      position: relative;
      z-index: 2147483647;
    }

    #dg-chat-widget {
      position: fixed;
      width: 100%;
      right: 20px;
      bottom: 20px;
      max-width: 375px;
      height: 90%;
      max-height: 650px;
      min-height: 570px;
      box-shadow: rgb(0 0 0 / 12%) 0 12px 48px 4px;
      border-radius: 16px;
      overflow: hidden;
    }

    @media only screen and (max-width: 800px) {
      #dg-chat-widget {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        max-width: initial;
        max-height: initial;
        border-radius: 0;
      }
    }

    #dg-chat-widget-launcher {
      position: fixed;
      right: 20px;
      bottom: 20px;
      height: 65px;
      width: 65px;
    }

    #dg-chat-widget-proactive {
      position: fixed;
      right: 20px;
      bottom: 90px;
    }
    
  </style>
  <title>Homepage</title>


  <!-- Windows 8 IE 10-->

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
  <link href="./resource/theme-8c4df980-6632-013c-f3de-5e0f1ae9fa0d.css" rel="stylesheet">
  <style type="text/css">
    #dg-chat-container {
      display: none;
    }
  </style>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
  <link type="text/css" rel="stylesheet" href="./resource/widget.css">
</head>

<body class="productlanding US_EN  cookie-message-active   pace-done" id="productlanding" onload="loadCategories();">

  <!-- icons -->
  <!-- navbar Icons -->

  <!-- header -->
  {{> headers/page_header}}
  <!-- body -->
  
  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://blog.topcv.vn/wp-content/uploads/2020/09/cong-nghe-thong-tin-la-gi-tn.jpg" style="height:1000px"
          class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://image.nhandan.vn/Uploaded/2024/athlrainagbna/2023_03_08/tri-tue-nhan-tao-ai-2-3436.jpg"style="height:1000px"
          class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://adcvietnam.net/Upload/news/diem-ten-9-xu-huong-cong-nghe-moi-hang-dau-cho-nam-2021.jpg"style="height:1000px"
          class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  {{> contents/category_page}}
  <!-- footer -->
  {{> footers/page_footer}}
</body>

</html>