<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="#">
    <title>Payment History</title>
    <link href="/resource/css2.css" rel="stylesheet">
    <link rel="stylesheet" href="/resource/bootstrap.min.css">
    <link rel="stylesheet" href="/resource/common.css">
    <link rel="stylesheet" href="/resource/header.css">
    <link rel="stylesheet" href="/resource/payment-history.css">
</head>

<body>
    <!-- header -->
    {{> headers/page_header}}

    {{!-- content --}}
    <div class="mb-4">
        <div class="container mt-4 mb-2 flex-grow-1">
            <p class="px-3 py-4 text-center no-transaction">Bạn chưa thực hiện bất kỳ giao dịch nào !</p>
        </div>
        <div class="container mt-4 mb-2 flex-grow-1">
            <p class="px-3 py-3 text-center no-transaction">Bạn chưa thực hiện bất kỳ giao dịch nào !</p>
        </div>
        <div class="container mt-4 mb-2 flex-grow-1">
            <p class="px-3 py-4 text-center no-transaction">Bạn chưa thực hiện bất kỳ giao dịch nào !</p>
        </div>
        <div class="container mt-4 mb-2 flex-grow-1">
            <p class="px-3 py-4 text-center no-transaction">Bạn chưa thực hiện bất kỳ giao dịch nào !</p>
        </div>
        <div class="container mt-4 mb-2 flex-grow-1">
            <p class="px-3 py-4 text-center no-transaction">Bạn chưa thực hiện bất kỳ giao dịch nào !</p>
        </div>
        <div class="container mt-4 mb-2 flex-grow-1">
            <p class="px-3 py-4 text-center no-transaction">Bạn chưa thực hiện bất kỳ giao dịch nào !</p>
        </div>
        <div class="container mt-4 mb-2 flex-grow-1">
            <p class="px-3 py-4 text-center no-transaction">Bạn chưa thực hiện bất kỳ giao dịch nào !</p>
        </div>
        <div class="container mt-4 mb-2 flex-grow-1">
            <p class="px-3 py-4 text-center no-transaction">Bạn chưa thực hiện bất kỳ giao dịch nào !</p>
        </div>
        <div class="container mt-4 mb-2 flex-grow-1">
            <p class="px-3 py-4 text-center no-transaction">Bạn chưa thực hiện bất kỳ giao dịch nào !</p>
        </div>
    </div>

    <!-- footer -->
    {{> footers/page_footer}}
</body>

</html>