<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="#">
    <title>/template/</title>
    <!-- fontawesome --> 
    
    <link href="/resource/css2.css" rel="stylesheet">
    <link rel="stylesheet" href="/resource/bootstrap.min.css">
    <link rel="stylesheet" href="/resource/common.css">
    <link rel="stylesheet" href="/resource/header.css">
    <link rel="stylesheet" href="/resource/bootstrap-icons.css">
</head>

<body>
    <!-- header -->
    {{> headers/page_header}}

    {{!-- content --}}
    

    <!-- footer -->
    {{> footers/page_footer}}

    {{!-- scripts --}}
    <script>
        const token = "{{token}}";
    </script>
    <script src="/resource/put-money.js"> </script>
</body>

</html>