    <div class="navbar-wrap">
        <div class="container flex-center-between"><a class="logo" href="/"><img src="/resource/logo.png"
                    alt="Logo"></a>
            <ul class="menu center-vertical">
                <li class="menu-item "><a href="/dashboard">Tổng quan</a></li>
                <li class="menu-item "><a href="/payment-history">Lịch sử thanh toán</a></li>
                <li class="menu-item"><a href="/top-up">Nạp tiền </a></li>
                <li class="menu-item"><a href="/change-password"> Đổi mật khẩu </a></li>
            </ul>
            <a class="logout text-uppercase" href="/auth/logout">Quay lại</a>
        </div>
    </div>