   <div id="symbol-reference" class="symbol-reference">
        <svg xmlns="http://www.w3.org/2000/svg">
          <symbol viewBox="0 0 22.975 23.2" id="account">
            <g id="Group_763" data-name="Group 763" transform="translate(-1120.915 -1360.5)">
              <path id="Path_417" data-name="Path 417" class="cls-1"
                d="M32.9,20.094H54.715S53.56,9.7,44.192,9.7,32.9,20.094,32.9,20.094Z"
                transform="translate(1088.616 1363.106)"></path>
              <circle id="Ellipse_175" data-name="Ellipse 175" class="cls-1" cx="4.748" cy="4.748" r="4.748"
                transform="translate(1127.676 1361)"></circle>
            </g>
          </symbol>
          <symbol viewBox="0 0 22.922 22.158" id="search">
            <g id="Group_762" data-name="Group 762" transform="translate(-1079.439 -1360.5)">
              <circle id="Ellipse_174" data-name="Ellipse 174" class="cls-1" cx="8.084" cy="8.084" r="8.084"
                transform="translate(1079.939 1361)"></circle>
              <line id="Line_224" data-name="Line 224" class="cls-1" x2="7.571" y2="7.443"
                transform="translate(1094.44 1374.859)"></line>
            </g>
          </symbol>
          <symbol viewBox="0 0 20.762 23.072" id="bag">
            <g id="Group_761" data-name="Group 761" transform="translate(-1159.898 -1360.5)">
              <rect id="Rectangle_574" data-name="Rectangle 574" class="cls-1" width="19.762" height="15.142"
                transform="translate(1160.398 1367.929)"></rect>
              <path id="Path_418" data-name="Path 418" class="cls-1"
                d="M72.076.5c4.748,0,4.363,6.929,4.363,6.929H67.2C67.328,7.429,67.328.5,72.076.5Z"
                transform="translate(1098.331 1360.5)"></path>
            </g>
          </symbol>
          
      </div>
      <!-- header Icon -->
     

 <header id="header" class="header" role="banner">
    <div class="masthead-wrapper">
      <div class="masthead-container">

        <div class="masthead">
          <div class="masthead-inner container">
            <div class="header-logo js-dropdown-close">
              <a href="/" class="header-logo-link">
                <svg role="img" focusable="false">
                  <img src="https://cdn.pixabay.com/photo/2017/03/29/04/09/shopping-icon-2184065_1280.png" style="height:50px">
                  <div class="text-light">ShoppingWeb</div>
                </svg>
              </a>
            </div>

            <div class="navPages-container" id="menu" data-menu="" aria-hidden="true">
              <nav class="navUser">
                <ul class="navUser-section navUser-section--alt">
              
                  <li class="navUser-item navUser-item--account">

                    <a class="navUser-action" href="/auth/userinfo" title="Sign in" id="1-2-">
                      <svg>
                        <use xlink:href="#account"></use>
                      </svg>
                    </a>
                  </li>

                  <li class="navUser-item js-dropdown-close js-preserve-overlay">
                    <a class="navUser-action navUser-action--quickSearch" title="Search"
                      href="/search" data-search="quickSearch"
                      aria-controls="quickSearch" aria-expanded="false" id="1-3-">
                      <svg>
                        <use xlink:href="#search"></use>
                      </svg>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>

            <div class="navUser-item navUser-item--cart js-dropdown-close js-preserve-overlay">
              <a class="navUser-action js-cart-toggle" data-cart-preview="" data-dropdown="cart-preview-dropdown"
                data-options="align:right" title="Cart" href="/cart/" id="7-0-0">
                <span class="navUser-item-cartLabel">
                  <svg>
                    <use xlink:href="#bag"></use>
                  </svg>
                </span>
                <span class="countPill cart-quantity">0</span>
              </a>
            </div>

          </div>
        </div>
      </div>
    </div>
    <style>
      @media (max-width: 800px) {
        .country-selector-active .country-selector-wrapper {
          background-image: url('https://cdn11.bigcommerce.com/s-k11cg5mzh9/content/misc/skdy-international-bg-mobile.jpg');
        }
      }

      @media (min-width: 801px) {
        .country-selector-active .country-selector-wrapper {
          background-image: url('https://cdn11.bigcommerce.com/s-k11cg5mzh9/content/misc/skdy-international-bg-full.jpg');
        }
      }
    </style>
  </header>
  