    <div class="container-fluid text-center  bg-white mt-5 py-2"
        style="border-top:solid 1px #ccc;bottom:0;left:0;color:var(--gray);font-size:0.85rem; position:fixed">
        <p class="mb-0">©2023-2024. 21120339 - 21120333 Payment Sub System, Inc. All rights reserved </p>
    </div>
    <script src="/resource/jquery.min.js"></script>
    <script src="/resource/bootstrap.min.js"></script>
    <script src="/resource/common.js"></script>

