<!DOCTYPE html>
<html lang="en">

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <style>
        #dg-chat-iframe {
            position: absolute;
            opacity: 0;
            width: 1px;
            height: 1px;
            top: 0;
            left: 0;
            border: none;
            display: block;
            z-index: -1;
            pointer-events: none;
        }

        #dg-chat-container {
            position: relative;
            z-index: 2147483647;
        }

        #dg-chat-widget {
            position: fixed;
            width: 100%;
            right: 20px;
            bottom: 20px;
            max-width: 375px;
            height: 90%;
            max-height: 650px;
            min-height: 570px;
            box-shadow: rgb(0 0 0 / 12%) 0 12px 48px 4px;
            border-radius: 16px;
            overflow: hidden;
        }

        @media only screen and (max-width: 800px) {
            #dg-chat-widget {
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                height: 100%;
                width: 100%;
                max-width: initial;
                max-height: initial;
                border-radius: 0;
            }
        }

        #dg-chat-widget-launcher {
            position: fixed;
            right: 20px;
            bottom: 20px;
            height: 65px;
            width: 65px;
        }

        #dg-chat-widget-proactive {
            position: fixed;
            right: 20px;
            bottom: 90px;
        }
    </style>

    <title> Cart </title>

    <link href="/resource/theme-8c4df980-6632-013c-f3de-5e0f1ae9fa0d.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/resource/widget.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/resource/style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>


</head>

<body class="productlanding US_EN  cookie-message-active   pace-done" id="productlanding">



    {{> headers/page_header}}


    <div class="body" id="main-content">
        <div class="body-inner">
            <div class="body-content">

                <div class=" " style="background-color: rgb(190, 191, 186);">
                    <!-- cart -->
                    <div>
                        <div class="container">
                            <div class="row">

                                <div class="col-md-12">

                                    <!-- CART DETAILs -->
                                    <div class="ibox">
                                        <div class="ibox-title d-flex justify-content-between">
                                            <h4 class=" font-30" style="color: rgb(241, 98, 3);"> SHOPPING CART </h5>
                                                <h6 id="userinfo"> Hello, User41245. You have (2) items in your cart.
                                                    </h5>
                                        </div>
                                        <div class="ibox-content ">
                                            <div class="table-responsive">
                                                <table class="table shoping-cart-table">
                                                    <thead>
                                                        <!-- thead -->
                                                        <tr class="title-cart">
                                                            <!-- Image -->
                                                            <td width="100">
                                                                <div class="cart-product-imitation"
                                                                    {{!-- style="visibility: hidden;" --}}
                                                                    >
                                                                    <h5 class="title-cart "> Image</h5>
                                                                    
                                                                </div>
                                                            </td>

                                                            <!-- Name & description -->
                                                            <td class=" desc " {{!--
                                                                style=" border-right: 1px solid black;" --}}>
                                                                <h5 class="title-cart  " style="text-align:left;">
                                                                    Product</h5>
                                                            </td>

                                                            <td>
                                                                <h5 class="title-cart ">Price</h5>
                                                            </td>
                                                            <td>
                                                                <h5 class="title-cart ">Quantity</h5>
                                                            </td>
                                                            <td>
                                                                <h5 class="title-cart ">Amount</h5>

                                                            </td>
                                                        </tr>
                                                    </thead>
                                                    <!-- itmes -->
                                                    <tbody id="allItems">
                                                        <tr>
                                                            <!-- Image -->
                                                            <td width="90">
                                                                <div class="cart-product-imitation">
                                                                </div>
                                                            </td>

                                                            <!-- Name & description -->
                                                            <td class="desc">
                                                                <h4>
                                                                    <a href="#" class="text-navy">
                                                                        Desktop publishing software
                                                                    </a>
                                                                </h4>
                                                                <p class="small">
                                                                    It is a long established fact that a reader will
                                                                    be
                                                                    distracted by the readable
                                                                    content of a page when looking at its layout.
                                                                    The
                                                                    point of using Lorem Ipsum is
                                                                </p>

                                                                <div class="m-t-sm ">
                                                                    <a href="#" class="text-muted remove_item"><i
                                                                            class="fa fa-trash"></i> Remove item</a>
                                                                </div>
                                                            </td>

                                                            <!-- price per item -->
                                                            <td>
                                                                $180,00
                                                            </td>

                                                            <!-- quantity -->
                                                            <td>
                                                                <input type="number" value="1" min="1" autocomplete="1">
                                                            </td>

                                                            <!-- price for <quantity> items -->
                                                            <td>
                                                                <h4>
                                                                    $180,00
                                                                </h4>
                                                            </td>
                                                        </tr>
                                                        {{!-- <tr>
                                                            <!-- Image -->
                                                            <td width="90">
                                                                <div class="cart-product-imitation">
                                                                </div>
                                                            </td>

                                                            <!-- Name & description -->
                                                            <td class="desc">
                                                                <h4>
                                                                    <a href="#" class="text-navy">
                                                                        Airbud E412
                                                                    </a>
                                                                </h4>
                                                                <p class="small">
                                                                    It is a long established fact that a reader will
                                                                    be
                                                                    distracted by the readable
                                                                    content of a page when looking at its layout.
                                                                    The
                                                                    point of using Lorem Ipsum is
                                                                </p>

                                                                <div class="m-t-sm ">
                                                                    <a href="#" class="text-muted"><i
                                                                            class="fa fa-trash"></i> Remove item</a>
                                                                </div>
                                                            </td>

                                                            <!-- price per item -->
                                                            <td>
                                                                $180,00
                                                            </td>

                                                            <!-- quantity -->
                                                            <td>
                                                                <input type="number" value="1" min="1" autocomplete="1">
                                                            </td>

                                                            <!-- price for <quantity> items -->
                                                            <td>
                                                                <h4>
                                                                    $180,00
                                                                </h4>
                                                            </td>
                                                        </tr> --}}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>





                                    </div>

                                    <!--  CART SUMMARY -->
                                    <div class="ibox">
                                        <div class="ibox-title">
                                            <h4>TOTAL</h4>
                                        </div>
                                        <!-- total prices -->
                                        <div class="ibox-content">
                                            <h2 class="font-bold" id="totalAmmount">
                                                $390,00
                                            </h2>
                                        </div>
                                        <!-- buttons -->
                                        <div class="ibox-content d-flex mb-3">
                                            <div class="hidden p-2"></div>
                                            <button class="btn btn-primary pull-right p-2"><i
                                                    class="fa fa fa-shopping-cart"></i> Checkout
                                            </button>
                                            <button class="btn btn-white  ms-auto p-2 border border-danger"
                                                onclick="window.location.href='/'"><i class="fa fa-arrow-left"></i>
                                                Continue shopping</button>

                                        </div>


                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    {{> footers/page_footer}}
    <script>
        window.onload = function () {
            $.ajax({
                type: 'GET',
                url: '/cart/getcartinfo',
                success: function (data) {

                    const cartInfo = data.cartInfo;
                    $("#userinfo").html(` Hello, ${data.userName}. You have (${cartInfo.length}) items in your cart.`)
                    let dataHTML = "";
                    let totalAmmount = 0;
                    for (i of cartInfo) {
                        const ammount = i.CartQuantity * i.Price;
                        totalAmmount = totalAmmount + ammount;
                        dataHTML = dataHTML + `<tr>
                                                                <!-- Image -->
                                                                <td width="100">
                                                                    <div class="cart-product-imitation">
                                                                        <img src="${i.Image}">
                                                                    </div>
                                                                </td>

                                                                <!-- Name & description -->
                                                                <td class="desc">
                                                                    <h4>
                                                                        <a href="/viewproduct?id=${i.ProductID}" class="text-navy">
                                                                            ${i.ProductName}
                                                                        </a>
                                                                    </h4>
                                                                    <p class="small">
                                                                        ${i.Describe}
                                                                    </p>

                                                                    <div class="m-t-sm ">
                                                                        <a id="remove-${i.ProductID}"class="text-muted remove_item"><i
                                                                                class="fa fa-trash"></i> Remove item</a>
                                                                    </div>
                                                                </td>

                                                                <!-- price per item -->
                                                                <td>
                                                                    ${i.Price} đ
                                                                </td>

                                                                <!-- quantity -->
                                                                <td>
                                                                    <input id="quantity-${i.ProductID}"class="quantity" type="number" value="${i.CartQuantity}" min="1"
                                                                        autocomplete="1">
                                                                </td>

                                                                <!-- price for <quantity> items -->
                                                                <td>
                                                                    <h4>
                                                                        ${ammount}đ
                                                                    </h4>
                                                                </td>
                                                            </tr>`
                    }
                    $("#allItems").html(dataHTML)
                    $("#totalAmmount").html(totalAmmount + " đ")
                }
            })
        }
    </script>
    <style>
        .clyde-fade-in {
            opacity: 0;
            -webkit-animation: fadeIn ease-in 1;
            -moz-animation: fadeIn ease-in 1;
            animation: fadeIn ease-in 1;
            -webkit-animation-fill-mode: forwards;
            -moz-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
            -webkit-animation-duration: .3s;
            -moz-animation-duration: .3s;
            animation-duration: .3s;
        }

        @-webkit-keyframes fadeIn {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        @-moz-keyframes fadeIn {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }
    </style>
    
    <script>
        $("body").delegate(".quantity", "change", function (e) {
            const id = $(this).attr('id').split("-")[1];
            const value = $(this).val();
            $.ajax({
                type: 'GET',
                url: '/cart/changecartquantity',
                data: { productID: id, quantity: value },
                success: function (data) {
                    window.location.reload();
                }


            })
        })

    </script>
    <script>
        $("body").delegate(".remove_item", "click", function (e) {
            const id = $(this).attr('id').split("-")[1];
            var answer = confirm("Bạn có muốn xoá sản phẩm này khỏi giỏ hàng?");
            if (answer) {
                $.ajax({
                    type: 'GET',
                    url: '/cart/removeitem',
                    data: { productID: id },
                    success: function (data) {
                        window.location.reload();
                    }


                })
            }


        })
    </script>
</body>