<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <style>
    #dg-chat-iframe {
      position: absolute;
      opacity: 0;
      width: 1px;
      height: 1px;
      top: 0;
      left: 0;
      border: none;
      display: block;
      z-index: -1;
      pointer-events: none;
    }

    #dg-chat-container {
      position: relative;
      z-index: 2147483647;
    }

    #dg-chat-widget {
      position: fixed;
      width: 100%;
      right: 20px;
      bottom: 20px;
      max-width: 375px;
      height: 90%;
      max-height: 650px;
      min-height: 570px;
      box-shadow: rgb(0 0 0 / 12%) 0 12px 48px 4px;
      border-radius: 16px;
      overflow: hidden;
    }

    @media only screen and (max-width: 800px) {
      #dg-chat-widget {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        max-width: initial;
        max-height: initial;
        border-radius: 0;
      }
    }

    #dg-chat-widget-launcher {
      position: fixed;
      right: 20px;
      bottom: 20px;
      height: 65px;
      width: 65px;
    }

    #dg-chat-widget-proactive {
      position: fixed;
      right: 20px;
      bottom: 90px;
    }
  </style>
  <title>Earbuds</title>


  <!-- Windows 8 IE 10-->

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
  <link href="/resource/theme-8c4df980-6632-013c-f3de-5e0f1ae9fa0d.css" rel="stylesheet">
  <style type="text/css">
    #dg-chat-container {
      display: none;
    }
  </style>

  <link type="text/css" rel="stylesheet" href="./resource/widget.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

</head>

<body class="productlanding US_EN  cookie-message-active   pace-done" id="productlanding">

  <!-- icons -->
      <!-- navbar Icons -->
      <div id="symbol-reference" class="symbol-reference">
        <svg xmlns="http://www.w3.org/2000/svg">
          <symbol viewBox="0 0 22.975 23.2" id="account">
            <g id="Group_763" data-name="Group 763" transform="translate(-1120.915 -1360.5)">
              <path id="Path_417" data-name="Path 417" class="cls-1"
                d="M32.9,20.094H54.715S53.56,9.7,44.192,9.7,32.9,20.094,32.9,20.094Z"
                transform="translate(1088.616 1363.106)"></path>
              <circle id="Ellipse_175" data-name="Ellipse 175" class="cls-1" cx="4.748" cy="4.748" r="4.748"
                transform="translate(1127.676 1361)"></circle>
            </g>
          </symbol>
          <symbol viewBox="0 0 22.922 22.158" id="search">
            <g id="Group_762" data-name="Group 762" transform="translate(-1079.439 -1360.5)">
              <circle id="Ellipse_174" data-name="Ellipse 174" class="cls-1" cx="8.084" cy="8.084" r="8.084"
                transform="translate(1079.939 1361)"></circle>
              <line id="Line_224" data-name="Line 224" class="cls-1" x2="7.571" y2="7.443"
                transform="translate(1094.44 1374.859)"></line>
            </g>
          </symbol>
          <symbol viewBox="0 0 20.762 23.072" id="bag">
            <g id="Group_761" data-name="Group 761" transform="translate(-1159.898 -1360.5)">
              <rect id="Rectangle_574" data-name="Rectangle 574" class="cls-1" width="19.762" height="15.142"
                transform="translate(1160.398 1367.929)"></rect>
              <path id="Path_418" data-name="Path 418" class="cls-1"
                d="M72.076.5c4.748,0,4.363,6.929,4.363,6.929H67.2C67.328,7.429,67.328.5,72.076.5Z"
                transform="translate(1098.331 1360.5)"></path>
            </g>
          </symbol>
          <symbol viewBox="0 0 22.8 21.9" id="instagram">
            <path id="Path_423" data-name="Path 423" class="cls-1"
              d="M17.2,4.2a1.3,1.3,0,1,0,1.3,1.3A1.324,1.324,0,0,0,17.2,4.2Zm0,1.2Z"></path>
            <path id="Path_424" data-name="Path 424" class="cls-2"
              d="M4.2.5H18.6c2,0,3.7,2.3,3.7,5.1V16.3c0,2.8-1.6,5.1-3.7,5.1H4.2c-2,0-3.7-2.3-3.7-5.1V5.6C.5,2.8,2.1.5,4.2.5Z">
            </path>
            <circle id="Ellipse_176" data-name="Ellipse 176" class="cls-2" cx="5.1" cy="5.1" r="5.1"
              transform="translate(6.4 6.1)"></circle>
          </symbol>
          <symbol viewBox="0 0 25.1 17.6" id="youtube">
            <path id="Path_421" data-name="Path 421" class="cls-1"
              d="M4.6.5H20.5a4.118,4.118,0,0,1,4.1,4.1V13a4.118,4.118,0,0,1-4.1,4.1H4.6A4.118,4.118,0,0,1,.5,13V4.6A4.055,4.055,0,0,1,4.6.5Z">
            </path>
            <path id="Path_422" data-name="Path 422" class="cls-1"
              d="M15.8,8.1a.693.693,0,0,1,.3,1l-.3.3-2.3,1.2L11,11.9a.777.777,0,0,1-1-.3.367.367,0,0,1-.1-.3v-5a.684.684,0,0,1,.7-.7.367.367,0,0,1,.3.1L13.5,7Z">
            </path>
          </symbol>
          <symbol viewBox="0 0 22.1 22.2" id="facebook">
            <path id="Path_419" data-name="Path 419" class="cls-1"
              d="M20.6,22.2H15.1c-.1,0-.3-.1-.4-.1-.1-.1-.1-.2-.1-.4V13.5a.472.472,0,0,1,.5-.5h2.3c0-.4.1-.7.1-1.1l.1-1.1H15a.472.472,0,0,1-.5-.5V8.2a1.268,1.268,0,0,1,.1-.6,1.379,1.379,0,0,1,1.2-1.2,2.2,2.2,0,0,1,.8-.1h1.2V4.4H15.7a4.529,4.529,0,0,0-1.6.3A2,2,0,0,0,12.7,6a4.711,4.711,0,0,0-.4,1.7v2.5a.56.56,0,0,1-.5.6H9.5V13h2.3a.472.472,0,0,1,.5.5v8.1a.56.56,0,0,1-.5.6H1.4A1.98,1.98,0,0,1,0,20.8V1.5A1.954,1.954,0,0,1,1.4,0H20.7a1.593,1.593,0,0,1,1.4,1.4V20.8a1.593,1.593,0,0,1-1.4,1.4Zm-8.8-.7Zm3.8-.3h5c.3-.1.5-.2.6-.5V1.6a.472.472,0,0,0-.5-.5H1.6a.634.634,0,0,0-.6.5v19c.1.3.2.5.5.6h9.7V14H9.1a.53.53,0,0,1-.6-.6v-3c0-.1.1-.4.2-.4a.4.4,0,0,1,.4-.2h2.2V7.7a4.648,4.648,0,0,1,.5-2.1,4.1,4.1,0,0,1,2.1-2,4.477,4.477,0,0,1,2-.4h2.5a.645.645,0,0,1,.6.6V6.5a.707.707,0,0,1-.6.6H16.8a1.268,1.268,0,0,0-.6.1c-.2.1-.4.2-.4.5V9.8h2.5a.646.646,0,0,1,.5.2.507.507,0,0,1,.1.5L18.6,12c-.1.4-.1.9-.2,1.3a.661.661,0,0,1-.7.6H15.6v7.3ZM.5,20.6Zm17.4-14Z">
            </path>
          </symbol>
          <symbol viewBox="0 0 23.8 19.6" id="twitter">
            <path id="Path_420" data-name="Path 420" class="cls-1"
              d="M23.3,2.7a7.67,7.67,0,0,1-2.7.7A4.914,4.914,0,0,0,22.7.8a9.772,9.772,0,0,1-3,1.1A4.859,4.859,0,0,0,16.3.4a4.7,4.7,0,0,0-4.7,4.7,4.1,4.1,0,0,0,.1,1.1A13.193,13.193,0,0,1,2.1,1.4a4.143,4.143,0,0,0-.6,2.3A4.577,4.577,0,0,0,3.6,7.6,4.032,4.032,0,0,1,1.4,7v.1a4.638,4.638,0,0,0,3.7,4.6,5.019,5.019,0,0,1-1.2.2,2.769,2.769,0,0,1-.9-.1A4.532,4.532,0,0,0,7.4,15a9.072,9.072,0,0,1-5.8,2,4.1,4.1,0,0,1-1.1-.1A13.5,13.5,0,0,0,7.7,19,13.194,13.194,0,0,0,21,5.7V5.1A10.528,10.528,0,0,0,23.3,2.7Z"
              transform="translate(0 0.1)"></path>
          </symbol>
        </svg>
      </div>
      <!-- header Icon -->
      <div class="icons-svg-sprite">
        <svg xmlns="http://www.w3.org/2000/svg">


          <symbol id="skullcandy-logo-bc" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 107.72 19.69">
            <title>Skullcandy Logo</title>
            <path
              d="M23.7,8.05C20.24,7.17,19.58,7,19.58,6S20.7,4.4,21.67,4.4c1.45,0,2.63.42,2.72,2.09h2.94C27.33,3.3,24.68,2,21.8,2c-2.49,0-5.16,1.35-5.16,4.18,0,2.59,2.07,3.38,4.12,3.92s4.1.79,4.1,2.28-1.62,1.72-2.69,1.72c-1.62,0-3.06-.72-3.06-2.55H16.18c0,3.4,2.82,4.91,5.88,4.91,3.75,0,5.74-1.89,5.74-4.43C27.8,8.94,24.7,8.3,23.7,8.05ZM38,6.18H34.79L31.33,9.77V2.37H28.59v13.8h2.75V12.73l1.06-1,2.74,4.46h3.32L34.27,9.85Zm7.06,5.24c0,2-.64,2.86-2.12,2.86-1.28,0-1.76-.81-1.76-2.45V6.18H38.47v6.15c0,2.47.74,4.12,3.65,4.12a3.57,3.57,0,0,0,3.05-1.66h.06v1.39h2.61v-10H45.1ZM10.9,5.35C10.36,3.86,14,0,7.33,0,1.65,0,1.12,5.64.87,6.08A5,5,0,0,0,.06,7.72c-.15.73,0,1.53.47,1.53.7,0-.16-1.41.7-1.41,1.09,0,2.37,1.77,2.72,2.77-.58,1-1.4,1.73-2,1.45a1.78,1.78,0,0,1-1.2-1.61c0-.65-.6-.63-.54.2A3.07,3.07,0,0,0,1.61,13a7.62,7.62,0,0,1,2.14,2.69c.27.66.62,1,1.59,1s.23.84.89.84.27-.93.66-.93,0,.89.74.89c1.13,0,.62-1.41,1-1.65s5.21-2.82,5.13-6S11.45,6.84,10.9,5.35Zm-4.74,9a2.26,2.26,0,0,0-1.79-.2c-.43.16-.85-.08-.5-1.17a6.06,6.06,0,0,1,.7-1.57A25.36,25.36,0,0,1,6.9,14.2C6.94,14.52,6.43,14.64,6.16,14.32Zm3.3-1.81A2.62,2.62,0,1,1,12,9.9,2.57,2.57,0,0,1,9.46,12.51ZM83,5.91a3.56,3.56,0,0,0-3.05,1.66h-.06V6.18H77.27v10H80V10.93c0-2,.64-2.86,2.12-2.86,1.28,0,1.76.81,1.76,2.45v5.64h2.75V10C86.65,7.55,85.91,5.91,83,5.91Zm21.88.27L102.69,13h0l-2.26-6.84H97.51V2.37H94.77v5h0a3.44,3.44,0,0,0-3-1.49c-2.94,0-4.42,2.49-4.42,5.18s1.47,5.35,4.48,5.35a3.32,3.32,0,0,0,3-1.55h0v1.28h2.61V6.33L101,15.55a1.29,1.29,0,0,1-.95,1.87,14.14,14.14,0,0,1-1.6-.1v2.26a16.57,16.57,0,0,0,1.68.09,3.14,3.14,0,0,0,3.44-2.26l4.17-11.25ZM92.5,14.37c-1.7,0-2.41-1.64-2.41-3.21S90.71,8,92.5,8s2.36,1.55,2.36,3.17S94.32,14.37,92.5,14.37ZM49,16.17h2.75V2.37H49ZM76.11,8.75c0-2.4-2.4-2.84-4.39-2.84-2.24,0-4.54.77-4.7,3.34h2.75c.09-1.08.77-1.51,1.82-1.51s1.78.17,1.78,1.35-1.56,1.06-3.24,1.31-3.4.77-3.4,3c0,2,1.51,3,3.4,3a4.58,4.58,0,0,0,3.36-1.24,4.07,4.07,0,0,0,.19,1h2.78a5.13,5.13,0,0,1-.35-2.22ZM73.36,12.3a2,2,0,0,1-2.22,2.3c-.89,0-1.68-.25-1.68-1.28s.77-1.29,1.62-1.47a5.43,5.43,0,0,0,2.28-.58ZM53.07,16.17h2.75V2.37H53.07Zm8.66-1.8c-1.72,0-2.28-1.72-2.28-3.15S60,8,61.78,8a1.87,1.87,0,0,1,2,1.72H66.5c-.17-2.55-2.34-3.79-4.69-3.79-3.25,0-5.1,2.3-5.1,5.41a4.85,4.85,0,0,0,5,5.12,4.47,4.47,0,0,0,4.81-4.1H63.91A2.11,2.11,0,0,1,61.73,14.37Z"
              style="fill: #fff"></path>
          </symbol>


        </svg>
      </div>

<!-- header -->
 {{> headers/page_header}}
<!-- body -->
{{#if isSignIn}}
{{> contents/signin_page}}
{{/if}}
{{#if isSignUp}}
{{> contents/signup_page}}
{{/if}}
{{#if isForgotPassword}}
{{> contents/forgot_password}}
{{/if}}
<!-- footer -->
{{> footers/page_footer}}
</body>

</html>