 <div class="body" id="main-content">
    <div class="body-inner">
      <div class="body-content">
        <div id="site-wide-promo" class="site-wide-promo" style="display: block;">
          <a class="site-wide-promo-link" style="background-color:#000000;color:#ffffff">
            Do you believe in magic?
          </a>
        </div>


        <div class="category-container">
          <div class="category-heading-parent">
            <div class="category-heading ">
              <div class="container--narrow">
                <h1 class="page-heading">
                  Earbuds
                </h1>
                <!-- snippet location categories -->
              </div>
            </div>

          </div>

          <div class="category-main container">
            <!-- category  -->
            <div class="category-utility">
              <div class="category-link-container row">
                <div class="category-link">
                  <a href="https://www.skullcandy.com/shop/headphones"
                    class="button button--full button--secondary">Headphones</a>
                </div>
                <div class="category-link">
                  <a href="https://www.skullcandy.com/shop/speakers"
                    class="button button--full button--secondary">Speakers</a>
                </div>
                <div class="category-link">
                  <a href="https://www.skullcandy.com/gaming" class="button button--full button--secondary">Gaming</a>
                </div>
                <div class="category-link">
                  <a href="https://www.skullcandy.com/shop/accessories"
                    class="button button--full button--secondary">Accessories</a>
                </div>
              </div>
              <div class="category-sort-container">
                <form class="actionBar" method="get" data-sort-by="">
                  <style>
                    .category-sort-container .form-field.form-field--select:before {
                      content: "Sort:"
                    }
                  </style>

                  <fieldset class="form-fieldset actionBar-section">
                    <legend class="is-srOnly">Sort:</legend>
                    <label class="" for="sort">
                      <div class="form-field form-field--select">
                        <select class="form-select" name="sort" id="sort">
                          <option value="featured" selected="">Featured Items</option>
                          <option value="newest">Newest Items</option>
                          <option value="bestselling">Best Selling</option>
                          <option value="alphaasc">A to Z</option>
                          <option value="alphadesc">Z to A</option>
                          <option value="avgcustomerreview">By Review</option>
                          <option value="priceasc">PRICE LOW TO HIGH</option>
                          <option value="pricedesc">PRICE HIGH TO LOW</option>
                        </select>
                      </div>
                    </label>
                  </fieldset>

                </form>
              </div>
            </div>

            <main class="category-products" id="product-listing-container">

              <!-- item template here ->  -->
              <form action="https://www.skullcandy.com/compare" method="POST" data-product-compare="">
                <div class="productGrid">
                  <article class="product-card card" data-product-id="392"
                    data-product-url="https://www.skullcandy.com/shop/earbuds/inkd-plus/">
                    <div class="card-content" data-ga-name="Ink’d+ Earbuds with Microphone" data-ga-price="17.99"
                      data-ga-skuid="product-enhanced-full"
                      data-ga-color="earbuds, earbuds with mic, earbuds with microphone, noise isolating earbuds">
                      <a href="https://www.skullcandy.com/shop/earbuds/inkd-plus/" class="card-content-inner">
                        <figure class="card-figure">
                          <img class="card-image lazyautosizes lazyloaded" data-sizes="auto"
                            src="./resource/c9f4f7654b39e3c01e29a3146f83481093b9663f9fa6b924806eb035e249362b__21647.jpg"
                            data-load="https://cdn11.bigcommerce.com/s-k11cg5mzh9/stencil/80b40f30-6632-013c-db43-4e33b7865e67/e/2dcfde50-f407-0135-4ccd-525400970412/img/loading.svg"
                            data-src="https://cdn11.bigcommerce.com/s-k11cg5mzh9/images/stencil/500x659/products/392/145951/c9f4f7654b39e3c01e29a3146f83481093b9663f9fa6b924806eb035e249362b__21647.1701155715.jpg?c=2"
                            alt="Ink’d+ Earbuds with Microphone" sizes="50px">
                        </figure>
                        <div class="product-card-swatch-container swatches-loaded"
                          data-product-url="https://www.skullcandy.com/shop/earbuds/inkd-plus/">
                          <ul class="product-card-swatches">
                            <li class="js-product-card-swatch" tooltip="Black" data-option-id="8239">
                              <img src="./resource/8239.preview.jpg" alt="Black">
                            </li>
                            <li class="js-product-card-swatch" tooltip="Fresh Mint" data-option-id="8179">
                              <img src="./resource/8179.preview.jpg" alt="Fresh Mint">
                            </li>
                          </ul>
                        </div>
                        <div class="card-body">
                          <h4 class="card-title">Ink’d+ Earbuds with Microphone</h4>
                          <div class="card-text" data-test-info-type="price">
                            <div class="price-section price-section--withoutTax">
                              <span data-product-price-without-tax="" class="price price--withoutTax">$17.99</span>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </article>
                </div>
              </form>


            </main>
          </div>
        </div>

      </div>
    </div>
  </div>