<footer id="main-footer" class="footer " role="contentinfo">
    <div class="footer-main u-negative">
      <section class="footer-info footer-section">
        <div class="footer-info-col footer-info-col--primary footer-info-col--medium footer-info-col--center"
          data-section-type="newsletterSubscription">
          <div id="footer-email-signup-container" class="footer-email-subscription-container">
            <h2 class="footer-info-heading">Hear It First</h2>
            <div class="footer-email-alert-container">
              <div class="alertBox alertBox--error">
                <div class="alertBox-column alertBox-icon">
                  <icon glyph="ic-error" class="icon" aria-hidden="true">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                      <path
                        d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z">
                      </path>
                    </svg>
                  </icon>
                </div>
                <p class="alertBox-column alertBox-message">
                  <span>There was a problem signing you up for our newsletter. Please try again.</span>
                </p>
              </div>
              <div class="alertBox alertBox--success">
                <div class="alertBox-column alertBox-icon">
                  <icon glyph="ic-success" class="icon" aria-hidden="true">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                      <path
                        d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z">
                      </path>
                    </svg>
                  </icon>
                </div>
                <p class="alertBox-column alertBox-message">
                  <span>Thanks for joining!</span>
                </p>
              </div>
              <div class="loadingOverlay"></div>
            </div>
            <form id="footer-email-signup-form" name="footer-email-signup" method="post" class="form footer-email-form">
              <fieldset class="form-fieldset">
                <legend class="is-srOnly">Email Subscription</legend>
                <div class="form-field">
                  <div class="subscription-form-container">
                    <label class="is-srOnly" for="footer-email-input">Sign up for Emails</label>
                    <input class="form-input footer-email-input js-footer-email-input" id="footer-email-input"
                      name="footer-email-input" type="email" value="" placeholder="Sign up for Emails" required="">
                    <button id="footer-email-submit-button" class="footer-email-submit"
                      aria-label="Register for our newsletter" type="submit">
                      <span class="footer-email-cta"></span>
                    </button>
                  </div>
                </div>
              </fieldset>
              <span id="email-newsletter-sign-up-success-message"
                class="footer-email-newsletter-sign-up-success-message" aria-hidden="true">Thank you for
                subscribing!</span>
            </form>
          </div>
        </div>
        <div class="footer-info-col footer-info-col--primary footer-info-col--medium">
          <article class="footer-info-col accordion mobile-accordion footer-info-col--medium"
            data-section-type="footer-webPages">
            <div class="accordion-head js-accordion-head">
              <h2 class="accordion-header"> Support
              </h2>
            </div>
            <div class="accordion-body js-accordion-body">
              <ul class="footer-info-list">
                <li>
                  <a href="https://www.skullcandy.com/support/faq" id="6-0-HelpCenter">
                    Help Center
                  </a>
                </li>
                <li>
                  <a href="https://info.skullcandy.com/Support?Dest=hc%2Fen-us%2Fcategories%2F360000554913-Warranty-Registration-"
                    id="6-1-Warranty">
                    Warranty
                  </a>
                </li>
                <li>
                  <a href="https://www.skullcandy.com/support/product-setup-instructions/" id="6-2-ProductHelp">
                    Product Help
                  </a>
                </li>
                <li>
                  <a href="https://contact.skullcandy.com/orderlookup" id="6-3-OrderStatus">
                    Order Status
                  </a>
                </li>
              </ul>
            </div>
          </article>
          <article class="footer-info-col accordion mobile-accordion footer-info-col--medium"
            data-section-type="footer-webPages">
            <div class="accordion-head js-accordion-head">
              <h2 class="accordion-header"> Offers
              </h2>
            </div>
            <div class="accordion-body js-accordion-body">
              <ul class="footer-info-list">
                <li>
                  <a href="https://b2b.skullcandy.com/bulkorder" id="6-4-BulkOrders">
                    Bulk Orders
                  </a>
                </li>
                <li>
                  <a href="https://b2b.skullcandy.com/custom/" id="6-5-CustomProduct">
                    Custom Product
                  </a>
                </li>
                <li>
                  <a href="https://info.skullcandy.com/Recycling" id="6-6-Recycling">
                    Recycling
                  </a>
                </li>
                <li>
                  <a href="https://www.skullcandy.com/klarna-faq" id="6-7-PayLaterwithKlarna">
                    Pay Later with Klarna
                  </a>
                </li>
              </ul>
            </div>
          </article>
          {{!-- <article class="footer-info-col accordion mobile-accordion footer-info-col--medium"
            data-section-type="footer-webPages">
            <div class="accordion-head js-accordion-head">
              <h2 class="accordion-header"> About Us
              </h2>
            </div>
            <div class="accordion-body js-accordion-body">
              <ul class="footer-info-list">
                <li>
                  <a href="https://www.skullcandy.com/inside-skullcandy" id="6-8-About">
                    About
                  </a>
                </li>
                <li>
                  <a href="https://www.skullcandy.com/inside-skullcandy/partnerships#born-in-pc" id="6-9-BorninPC">
                    Born in PC
                  </a>
                </li>
                <li>
                  <a href="https://skullcandy.applicantpro.com/jobs/" id="6-10-Careers">
                    Careers
                  </a>
                </li>
                <li>
                  <a href="https://www.skullcandy.com/press-releases/" id="6-11-PressReleases">
                    Press Releases
                  </a>
                </li>
                <li>
                  <a href="https://contact.skullcandy.com/" id="6-12-ContactUs">
                    Contact Us
                  </a>
                </li>
              </ul>
            </div>
          </article> --}}
        </div>
        <div
          class="footer-info-col footer-info-col--primary footer-info-col--medium footer-info-col--center footer-social-links"
          data-section-type="footer-webPages">
          <h2 class="footer-info-heading">Follow Us</h2>
          <ul class="socialLinks socialLinks--alt">
            <li class="socialLinks-item">
              <a class="icon icon--instagram" href="http://instagram.com/skullcandy" target="_blank" id="5-0-instagram">
                <svg role="img" focusable="false">
                  <title>instagram</title>
                  <use xlink:href="#instagram" aria-hidden="true"></use>
                </svg>
              </a>
            </li>
            <li class="socialLinks-item">
              <a class="icon icon--youtube" href="https://www.youtube.com/user/SKULLCANDYTV" target="_blank"
                id="5-1-youtube">
                <svg role="img" focusable="false">
                  <title>youtube</title>
                  <use xlink:href="#youtube" aria-hidden="true"></use>
                </svg>
              </a>
            </li>
            <li class="socialLinks-item">
              <a class="icon icon--facebook" href="https://www.facebook.com/pages/Skullcandy/49105077377"
                target="_blank" id="5-2-facebook">
                <svg role="img" focusable="false">
                  <title>facebook</title>
                  <use xlink:href="#facebook" aria-hidden="true"></use>
                </svg>
              </a>
            </li>
            <li class="socialLinks-item">
              <a class="icon icon--twitter" href="https://twitter.com/skullcandy" target="_blank" id="5-3-twitter">
                <svg role="img" focusable="false">
                  <title>twitter</title>
                  <use xlink:href="#twitter" aria-hidden="true"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </section>
    </div>
    <div class="footer-base">
      <div class="container footer-base-container">
        <div class="footer-base-links">
          <ul>
            <li>
              <a href="https://info.skullcandy.com/Support?Dest=hc%2Fen-us%2Farticles%2F360010896613-Privacy-Policy">
                Privacy Policy
              </a>
            </li>
            <li>
              <a href="https://info.skullcandy.com/Support?Dest=hc%2Fen-us%2Farticles%2F360010896673-Terms-of-Use">
                Terms of Use
              </a>
            </li>
            <li>
              <a
                href="https://info.skullcandy.com/Support?Dest=hc%2Fen-us%2Farticles%2F360010896613-Privacy-Policy#California">
                California Notice of Collection
              </a>
            </li>
          </ul>
        </div>
        <div class="footer-payment-icons">
          <img src="./resource/creditcardlogos1.jpeg" alt="Credit cards accepted">
        </div>
        <div class="footer-copyright">
          <p>© 2024 Skullcandy.com All Rights Reserved </p>
        </div>
      </div>
    </div>
  </footer>

